/* .dashboard {
  background-color: red;
  width: 100px;
  height: 100px;
} */
.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-weight: 1300;
  margin-bottom: 56px;
}
.body-container li a {
  color: black;
}
.image {
  height: 88px;
  width: 88px;
  left: 532px;
  top: 0px;
  border-radius: 275px;
  margin-top: 64px;
}
.text-section {
  margin-top: 24px;
}
.text-section a {
  color: black;
}
.share {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 189px;
  top: 44px;
}
@media only screen and (max-width: 950px) {
  /* .icons {
    display: none;
  } */
}
