.footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 64px;
  opacity: 0.2;
  font-weight: 700;
  max-width: 1400px;
  /* margin: auto; */
}
/* .border {
} */
@media only screen and (max-width: 950px) {
  .footer {
    display: block;
    justify-content: start;
    flex-direction: column;
    margin: 0px;
    gap: 16px;
    margin-left: ;
  }
}
